
<div class="container">
    <div class="haselogo" ng-init="logo = './img/hase.svg'">
        <img ng-src="{{logo}}">
    </div>
    <div class="html_title">
        <h1>My profile</h1>
    </div>
    <div class="html_mainform">
        <div class="html_desc">
            <p>Select below options to manage your existing business banking account application or to apply for additional ones.</p>
        </div>

        <form class="html_mainform_body">
            <a class="btn btn-link" ui-sref="basicinfo">Apply for a new application ></a>
            <p><label class="html_mainform_heading">Recent applications</label></p> 
            <div class="form-group">
                <table class="table table-hover" ng-init="appinit()">
                    <thead>
                        <tr><th>Application</th><th>Company</th><th>Status</th><th>Date</th><th>Operation</th></tr>
                    </thead>
                    <tr ng-repeat="x in records">
                        <td nowrap="nowrap">{{x.application}}</td>
                        <td nowrap="nowrap">{{x.company}}</td>
                        <td nowrap="nowrap">{{x.status}}</td>
                        <td nowrap="nowrap">{{x.date}}</td> 
                        <td nowrap="nowrap"><button  type="button" ng-click="view(x.application)"> &nbspView &nbsp </button>
                        <button  type="button" ng-click="delinfo('sm', x.application)"> Delete </button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <button type="submit" class="btn btn-primary" ng-click="userLogin()">Login</button> -->
        
        </form>
    </div>
</div>