
    <div class="container">
        <h1 class="form-heading">login Form</h1>
        <div class="overview-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Application Overview</h2>
                </div>
                <div class="panel">
                
                <a class="btn btn-link" ui-sref="basicinfo">Apply for a new application</a>
                </div>
                <form id="overview">

                    <div class="form-group">
                        <table class="table table-hover" ng-init="appinit()">
                            <thead>
                                <tr><th>Application</th><th>Company</th><th>Status</th><th>Date</th><th>Operation</th></tr>
                            </thead>
                            <tr ng-repeat="x in records">
                                <td>{{x.application}}</td>
                                <td>{{x.company}}</td>
                                <td>{{x.status}}</td>
                                <td>{{x.date}}</td> 
                                <td><button type="button" ng-click="view(x.application)">view</button>
                                <button type="button" ng-click="delinfo(x.application)">delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- <button type="submit" class="btn btn-primary" ng-click="userLogin()">Login</button> -->

                </form>
            </div>
        </div>
    </div>
