
    <div class="container">
            <div class="haselogo" ng-init="logo = './img/hase.svg'">
                <img ng-src="{{logo}}">
            </div>
            <div class="html_title">
                <h1 >Login to Profile</h1>
            </div>
            <div class="html_mainform">
                <div class="html_desc">
                    <p>Login to retrieve an existing application or apply for an additional business banking account</p>
                </div>
                <form class="html_mainform_body">
                    <div class="html_mainform-group">
                        <p><label>Username</label></p>
                        <input class="html_input_data" type="text" ng-model="username">
                    </div>
                    <div class="html_mainform-group">
                        <p><label>Password</label></p>
                        <input class="html_input_data" type="password" ng-model="password">
                        <p class="text-warning" ng-show="isLoggedin">Invalid username or password!</p>
                        <p class="text-warning" ng-hide="isOneblank">Username and password cannot be empty!</p>
                    </div>
                    <div class="forgot">
                        <!--   <a href="reset.html">Forgot password?</a> -->
                    </div>
                    <div class="html_mainform-submit">
                        <button type="submit" class="html_btn" ng-click="userLogin()">Login ></button>
                    </div>
                </form>
            </div>
        </div>
    