
<div ng-controller="Modalsssss">
	<div class="modal fade" style="height: 80%; width: 50%" id="myModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<h3 class="modal-title" align="center">delete application infos
			</h3>
		</div>
		<div class="modal-body">
			<div align="center">
				Are you sure to delete this application infos? <br>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(1)">Sure</button>
			<button class="btn btn-warning" ng-click="cancel(2)">Canl</button>
		</div>
	</div>
</div>