
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .registry-form .form-control {
  background: white none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .login-form .form-group {
  margin-bottom:10px;
}
.login-form .login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form .login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.login-form .login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.hero-unit {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
	background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}
.hero-unit .btn, .pagination-centered .btn {
	float: none;
	font-weight: normal;
}
.hero-unit p {
	margin: 1em 0;
}
.bs-docs-social {
	margin-top: 1em;
	padding: 15px 0;
	text-align: center;
	background-color: rgba(245,245,245,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(221,221,221,0.3);
}
.bs-docs-social-buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.bs-docs-social-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

/* Allows .modal-backdrop to remain on the page without blocking */
.modal-backdrop {
	overflow: hidden;
	height: 0;
	-webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
	-moz-transition: opacity 0.15s linear, height 0 0.2s linear;
	-ms-transition: opacity 0.15s linear, height 0 0.2s linear;
	-o-transition: opacity 0.15s linear, height 0 0.2s linear;
	transition: opacity 0.15s linear, height 0 0.2s linear;
}
.modal-backdrop.in {
	height: 100%;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-ms-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

/*** Calendar ***/

.calAlert{
	width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
	float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
	float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
	background-color: rgb(229, 229, 11);
	color: black;
}

.fc-event.customFeed .fc-event-skin{
	background-color: rgb(132, 222, 175);
	color: black;
}

.calTools{
	margin-bottom: 10px;
}
